Django
djangorestframework
psycopg2-binary
redis
requests
polyline
haversine
pydantic
gunicorn
uvicorn
pytest
pytest-django
mock
factory-boy
drf-yasg
celery
djangorestframework-simplejwt
django-cors-headers
django-environ
geopy
python-decouple
h3